extends ../inner.layout.pug

block variables
    - var title = 'О квартале'
    - var mainClass = 'main--about'

block content
    // Header in Main
    .header.header--main
        h1.title.title--header= title
    // Header in Main End
    // Nav Inner
    nav.nav.nav--inner
        ul.nav__list.nav__list--horizontal
            li.nav__item
                a(href="./about-concept.html").link.link--nav.text.text--normal.text--fw500
                    | Концепция квартала
            li.nav__item
                a(href="./about-infrastructure.html").link.link--nav.text.text--normal.text--fw500
                    | Инфраструктура
            li.nav__item
                a(href="./about-gallery.html").link.link--nav.text.text--normal.text--fw500
                    | Галерея
            li.nav__item
                a(href="./about-camera.html").link.link--nav.text.text--normal.text--fw500
                    | Веб-камера
            li.nav__item.is-active
                a(href="./about-docs.html").link.link--nav.text.text--normal.text--fw500
                    | Документы
    // Nav Inner

    //
    .row
        .docs-info
            // Select House
            dl.dropdown
                dt
                    a
                        span Дом
                dd
                    ul
                        li
                            a.default Дом
                        li
                            a Дом № 1
                        li
                            a Дом № 2
                        li
                            a Дом № 3
                        li
                            a Дом № 4
                svg.icon.icon--arrow.arrow--down(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 34.04 59.72')
                    g
                        path(d='M32.82 32.82L7.14 58.5a4.183 4.183 0 0 1-5.92-5.91l22.73-22.73L1.23 7.14a4.18 4.18 0 0 1 5.91-5.91l25.68 25.68a4.18 4.18 0 0 1 0 5.91zm0 0')
            // Select House End

            //
            .text.text--large.text--fw500 Сайт застройщика
            a(href="http://mk.ekbstroy.net", title="title").link.link--text.text.text--normal.text--fw300.text--underline mk.ekbstroy.net
            //
    //

    .docs.row
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Договор аренды земельного участка
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 ДC к договору аренды земельного участка
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Договор участия в долевом строительстве
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Проектная декларация
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Заключение о соответствии проектной декларации
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Шаблон договора уступки
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Шаблон инвестиционного договора на приобретение машино-места
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Изменения в устав
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 Устав
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
        // Card
        a(href="#", title="title").link.link--block.card.card--docs
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 375.97 409.6').icon.icon--docs
                path(d='M373.77 110.84L269.42 2.41A7.88 7.88 0 0 0 263.74 0H108.21a31.6 31.6 0 0 0-31.56 31.55v148.13h-53A23.64 23.64 0 0 0 0 203.29v118.2a23.64 23.64 0 0 0 23.62 23.61h53v33a31.57 31.57 0 0 0 31.57 31.5H344.4a31.56 31.56 0 0 0 31.6-31.48V116.31a7.89 7.89 0 0 0-2.23-5.47zM265.69 21.27l85.66 89h-85.66zm94.52 356.86a15.79 15.79 0 0 1-15.81 15.73H108.21A15.8 15.8 0 0 1 92.4 378.1v-33h143.92a23.64 23.64 0 0 0 23.61-23.61v-118.2a23.64 23.64 0 0 0-23.61-23.61H92.4V31.55a15.82 15.82 0 0 1 15.81-15.8h141.73v102.4a7.88 7.88 0 0 0 7.88 7.88h102.4z')
                path(d='M92.17 237.81a17.73 17.73 0 0 0-9.74-6.62q-3.79-1-16.25-1H44.26v67.66h13.66v-25.54h8.91a77.72 77.72 0 0 0 14.17-1 19.77 19.77 0 0 0 7.09-3.21 18.58 18.58 0 0 0 5.75-6.67A22.08 22.08 0 0 0 96.09 251q0-8.08-3.93-13.18zm-11.7 18.63a9 9 0 0 1-4.27 3.32q-2.72 1.06-10.8 1.06h-7.48v-19.2h6.6a65.55 65.55 0 0 1 9.83.46 9.46 9.46 0 0 1 5.49 3 8.73 8.73 0 0 1 2.16 6.09 9.1 9.1 0 0 1-1.55 5.26zm0 0M161.77 248.66a29.58 29.58 0 0 0-6.46-11 22.62 22.62 0 0 0-10.2-6.23q-4.43-1.29-12.88-1.29h-25v67.66H133a41.37 41.37 0 0 0 12.09-1.43 24 24 0 0 0 9.6-5.4 29.74 29.74 0 0 0 7.25-12 44.39 44.39 0 0 0 2.08-14.4 50 50 0 0 0-2.21-16zm-13.29 27.79q-1.39 4.55-3.58 6.55a12.59 12.59 0 0 1-5.51 2.81 37.1 37.1 0 0 1-8.26.65h-10.2v-44.84h6.14q8.35 0 11.21.65a13 13 0 0 1 6.33 3.18 15.49 15.49 0 0 1 3.88 6.55q1.38 4.2 1.39 12a44.2 44.2 0 0 1-1.39 12.39zm0 0M222 241.62v-11.45h-46.34v67.66h13.66v-28.75h28.25v-11.45h-28.25v-16zm0 0' class='text--white')
            .card__header
                .title.title--card.text--fw500 ОГРН
            .card__footer
                span.text.text--mutted.text--fw300.text--normal .pdf (3,5 Mb)
        // Card End
block scripts
    script(src='assets/scripts/aboutDocs.bundle.js')
