extends ../inner.layout.pug

block variables
    - var title = 'Инфраструктура'
    - var mainClass = 'main--about'

block content
    // Header in Main
    .header.header--main.header--infrastructure
        .title.title--header О квартале
    // Header in Main End
    // Nav Inner
    nav.nav.nav--inner
        ul.nav__list.nav__list--horizontal
            li.nav__item
                a(href="./about-concept.html").link.link--nav.text.text--normal.text--fw500
                    | Концепция квартала
            li.nav__item.is-active
                a(href="./about-infrastructure.html").link.link--nav.text.text--normal.text--fw500
                    | Инфраструктура
            li.nav__item
                a(href="./about-gallery.html").link.link--nav.text.text--normal.text--fw500
                    | Галерея
            li.nav__item
                a(href="./about-camera.html").link.link--nav.text.text--normal.text--fw500
                    | Веб-камера
            li.nav__item
                a(href="./about-docs.html").link.link--nav.text.text--normal.text--fw500
                    | Документы
    // Nav Inner

    // Main Title
    h1.title.title--main= title
    // Main Title End

    // Map Nav
    nav.nav.nav--map#js-map-nav
        .card.card--base.is-active
                a#js-map-nav-show-all.link.link--block.card__content
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 409.6 409.6').icon.icon--city
                        path(d='M259.41 266.24a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M252.59 341.33a6.83 6.83 0 0 0-6.82 6.83v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 0 0-6.83-6.83zm0 0M286.72 184.32a6.83 6.83 0 1 0-13.65 0V198a6.83 6.83 0 1 0 13.65 0zm0 0M259.41 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M259.41 307.2a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M286.72 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M232.1 184.32a6.83 6.83 0 1 0-13.65 0V198a6.83 6.83 0 1 0 13.65 0zm0 0M259.41 184.32a6.83 6.83 0 1 0-13.65 0V198a6.83 6.83 0 1 0 13.65 0zm0 0M286.72 116.06V102.4a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M232.1 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M314 102.4a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M225.28 259.41a6.83 6.83 0 0 0-6.83 6.82v13.67a6.83 6.83 0 0 0 13.65 0v-13.66a6.83 6.83 0 0 0-6.82-6.82zm0 0M341.33 307.2a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M334.51 341.33a6.83 6.83 0 0 0-6.83 6.83v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 0 0-6.82-6.83zm0 0M361.81 259.41a6.83 6.83 0 0 0-6.82 6.82v13.67a6.83 6.83 0 0 0 13.65 0v-13.66a6.83 6.83 0 0 0-6.83-6.82zm0 0')
                        path(d='M252.59 122.88a6.83 6.83 0 0 0 6.83-6.82V87.25l68.27-17.07v114.14a6.85 6.85 0 0 0 4.43 6.4l50.18 18.81v70.37a6.83 6.83 0 0 0 13.65 0v-75.1a6.84 6.84 0 0 0-4.43-6.4l-50.18-18.81V47.79a6.83 6.83 0 0 0-13.65 0v8.32L250.93 75.3a6.82 6.82 0 0 0-5.17 6.62v34.14a6.83 6.83 0 0 0 6.82 6.82zm0 0')
                        path(d='M368.64 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M341.33 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M286.72 307.2a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M341.33 266.24a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M279.89 341.33a6.83 6.83 0 0 0-6.83 6.83v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 0 0-6.82-6.83zm0 0M286.72 266.24a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0')
                        path(d='M307.2 382.29a6.83 6.83 0 0 0 6.83-6.82V157a6.83 6.83 0 0 0-5.17-6.62l-109.23-27.29a6.83 6.83 0 0 0-8.49 6.62V279.9a6.83 6.83 0 0 0 13.66 0V138.45l95.57 23.89v213.13a6.83 6.83 0 0 0 6.83 6.82zm0 0M150.19 143.36a6.83 6.83 0 0 0-13.65 0V157a6.83 6.83 0 1 0 13.65 0zm0 0M150.19 102.4a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M95.57 307.2a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0')
                        path(d='M34.13 245.76a6.83 6.83 0 0 0 6.87-6.83V204.8h68.27v170.67a6.83 6.83 0 1 0 13.65 0V198a6.83 6.83 0 0 0-6.82-6.82H34.13A6.83 6.83 0 0 0 27.3 198v41a6.83 6.83 0 0 0 6.83 6.83zm0 0M109.23 143.36V157a6.83 6.83 0 1 0 13.65 0v-13.64a6.83 6.83 0 0 0-13.65 0zm0 0M150.19 61.44a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0')
                        path(d='M88.75 341.33a6.83 6.83 0 0 0-6.82 6.83v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 0 0-6.83-6.83zm0 0')
                        path(d='M402.77 395.95h-13.65V354a27.31 27.31 0 1 0-13.65 0v41.93H204.8v-28a34.13 34.13 0 1 0-13.66 0v28H41V327a34.13 34.13 0 1 0-13.66 0v69H6.83a6.83 6.83 0 0 0 0 13.66h395.94a6.83 6.83 0 0 0 0-13.66zM13.65 293.55A20.48 20.48 0 1 1 34.13 314a20.51 20.51 0 0 1-20.48-20.48zm163.84 41A20.48 20.48 0 1 1 198 355a20.51 20.51 0 0 1-20.48-20.48zm191.15-6.83a13.65 13.65 0 1 1 13.65 13.65 13.67 13.67 0 0 1-13.65-13.65zm0 0')
                        path(d='M54.61 348.16v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 1 0-13.65 0zm0 0M95.57 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M95.57 266.24a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M54.61 225.28v13.65a6.83 6.83 0 1 0 13.65 0v-13.65a6.83 6.83 0 1 0-13.65 0zm0 0M150.19 266.24a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M177.49 184.32a6.83 6.83 0 1 0-13.65 0V198a6.83 6.83 0 1 0 13.65 0zm0 0M177.49 143.36a6.83 6.83 0 0 0-13.65 0V157a6.83 6.83 0 1 0 13.65 0zm0 0M177.49 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M170.67 259.41a6.83 6.83 0 0 0-6.83 6.82v13.67a6.83 6.83 0 0 0 13.65 0v-13.66a6.83 6.83 0 0 0-6.82-6.82zm0 0M177.49 102.4a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0M150.19 307.2a6.83 6.83 0 0 0-13.65 0v13.66a6.83 6.83 0 0 0 13.65 0zm0 0')
                        path(d='M88.75 177.49a6.83 6.83 0 0 0 6.83-6.82v-50.4l23.53-11.77a6.83 6.83 0 0 0 3.77-6.11V45.18L157 28.11l34.13 17.07v57.22a6.83 6.83 0 1 0 13.66 0V41a6.83 6.83 0 0 0-3.79-6.15l-37.16-18.59V6.83a6.83 6.83 0 1 0-13.65 0v9.43L113 34.85a6.84 6.84 0 0 0-3.77 6.15v57.18l-23.54 11.76a6.84 6.84 0 0 0-3.77 6.11v54.61a6.83 6.83 0 0 0 6.82 6.83zm0 0M150.19 225.28a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M143.36 341.33a6.83 6.83 0 0 0-6.82 6.83v27.3a6.83 6.83 0 1 0 13.65 0v-27.3a6.83 6.83 0 0 0-6.83-6.83zm0 0')
                        path(d='M177.49 61.44a6.83 6.83 0 1 0-13.65 0v13.65a6.83 6.83 0 1 0 13.65 0zm0 0M150.19 184.32a6.83 6.83 0 1 0-13.65 0V198a6.83 6.83 0 1 0 13.65 0zm0 0')
                    .text.text--large.text--fw-500 Все объекты

    // Map Nav End
    
    // Map
    #map.map.map--infrastructure
    // Map End
block scripts
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
    script(src='assets/scripts/aboutInfrastructure.bundle.js')
