extends ../main.layout.pug

block variables
    - var title = 'Новости и акции'
    - var mainClass = 'main--news'

block content
    // Header in Main
    .header.header--main.header--action
        h1.title.title--header= title
    // Header in Main End

    // Nav Inner
    nav.nav.nav--inner
        ul.nav__list.nav__list--horizontal
            li.nav__item
                a(href="./news.html").link.link--nav.text.text--normal.text--fw500
                    | Новости
            li.nav__item.is-active
                a(href="./action.html").link.link--nav.text.text--normal.text--fw500
                    | Акции
    // Nav Inner

    // Row
    .actions.row
        // Card
        a(href='./single-news.html').link.link--block.card.card--actions
            .card__image
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 500.78').icon.icon--sale
                        path(d='M256 72.3c-98.2 0-178.09 79.89-178.09 178.09S157.8 428.48 256 428.48s178.09-79.89 178.09-178.09S354.2 72.3 256 72.3zm0 333.91c-85.92 0-155.83-69.9-155.83-155.83S170.08 94.57 256 94.57s155.83 69.9 155.83 155.83S341.92 406.22 256 406.22z')
                        path(d='M305 201.37a11.13 11.13 0 0 0-15.74 0L177.61 313a11.13 11.13 0 1 0 15.74 15.74L305 217.11a11.13 11.13 0 0 0 0-15.74zM326.82 190.7a11.1 11.1 0 0 0 7.87-3.26l.8-.8a11.13 11.13 0 0 0-15.75-15.74l-.8.8a11.13 11.13 0 0 0 7.87 19zM243.4 196.05a41.74 41.74 0 1 0-41.74 41.74 41.79 41.79 0 0 0 41.74-41.74zm-61.22 0a19.48 19.48 0 1 1 19.48 19.48 19.5 19.5 0 0 1-19.48-19.48zM310.34 263a41.74 41.74 0 1 0 41.74 41.74A41.79 41.79 0 0 0 310.34 263zm0 61.22a19.48 19.48 0 1 1 19.48-19.48 19.5 19.5 0 0 1-19.48 19.47z')
                .image-container
                    img(src="assets/images/action-1.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw700
                        | Скидка до&nbsp;100&nbsp;000&nbsp;руб. на&nbsp;места в&nbsp;паркинге действует до&nbsp;конца ноября
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Приобрести машиноместо также можно в&nbsp;ипотеку или с&nbsp;рассрочкой. Оставить машину рядом с&nbsp;домом, знать, что она под круглосуточной охраной, а&nbsp;снег и&nbsp;дождь ей&nbsp;не&nbsp;страшны&nbsp;&mdash; не&nbsp;роскошь, а&nbsp;необходимость.
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End

        // Card
        a(href='./single-news.html').link.link--block.card.card--actions
            .card__image
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 500.78').icon.icon--sale
                        path(d='M256 72.3c-98.2 0-178.09 79.89-178.09 178.09S157.8 428.48 256 428.48s178.09-79.89 178.09-178.09S354.2 72.3 256 72.3zm0 333.91c-85.92 0-155.83-69.9-155.83-155.83S170.08 94.57 256 94.57s155.83 69.9 155.83 155.83S341.92 406.22 256 406.22z')
                        path(d='M305 201.37a11.13 11.13 0 0 0-15.74 0L177.61 313a11.13 11.13 0 1 0 15.74 15.74L305 217.11a11.13 11.13 0 0 0 0-15.74zM326.82 190.7a11.1 11.1 0 0 0 7.87-3.26l.8-.8a11.13 11.13 0 0 0-15.75-15.74l-.8.8a11.13 11.13 0 0 0 7.87 19zM243.4 196.05a41.74 41.74 0 1 0-41.74 41.74 41.79 41.79 0 0 0 41.74-41.74zm-61.22 0a19.48 19.48 0 1 1 19.48 19.48 19.5 19.5 0 0 1-19.48-19.48zM310.34 263a41.74 41.74 0 1 0 41.74 41.74A41.79 41.79 0 0 0 310.34 263zm0 61.22a19.48 19.48 0 1 1 19.48-19.48 19.5 19.5 0 0 1-19.48 19.47z')
                .image-container
                    img(src="assets/images/action-2.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw700
                        | Получите абонемент в&nbsp;фитнес&#8209;клуб за&nbsp;покупку квартиры
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Центр недвижимости &laquo;ЕКБ&#8209;Строй&#8209;Инвест&raquo; предоставляет покупателям квартир в&nbsp;ЖК&nbsp;&laquo;Московский квартал&raquo; абонемент в&nbsp;фитнес-клуб Port Fitness на&nbsp;безлимитное обслуживание в&nbsp;течение месяца*.
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
    // Row End

block scripts
    script(src='assets/scripts/action.bundle.js')