extends ../main.layout.pug

block variables
    - var title = 'Новости и акции'
    - var mainClass = 'main--news'

block content
    // Header in Main
    .header.header--main.header--news
        h1.title.title--header= title
    // Header in Main End

    // Nav Inner
    nav.nav.nav--inner
        ul.nav__list.nav__list--horizontal
            li.nav__item.is-active
                a(href="./news.html").link.link--nav.text.text--normal.text--fw500
                    | Новости
            li.nav__item
                a(href="./action.html").link.link--nav.text.text--normal.text--fw500
                    | Акции
    // Nav Inner

    // Row
    .news.row
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-2.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Изменен график работы офиса продаж 9&nbsp;августа
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Получить личную консультацию можно до 12 часов либо по телефону ...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-3.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Детский сад и&nbsp;школа скоро&nbsp;откроются
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Посещать учреждения маленькие жители смогут с&nbsp;января 2019&nbsp;года...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-4.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Финальный дом комплекса сдан!
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Четвертый дом жилого комплекса готовится встречать новоселов...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-5.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Изменен график работы офиса продаж 9&nbsp;августа
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Получить личную консультацию можно до 12 часов либо по телефону ...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-6.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Детский сад и&nbsp;школа скоро&nbsp;откроются
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Посещать учреждения маленькие жители смогут с&nbsp;января 2019&nbsp;года...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-7.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Финальный дом комплекса сдан!
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Четвертый дом жилого комплекса готовится встречать новоселов...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-8.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-2.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Изменен график работы офиса продаж 9&nbsp;августа
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Получить личную консультацию можно до 12 часов либо по телефону ...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-3.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Детский сад и&nbsp;школа скоро&nbsp;откроются
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Посещать учреждения маленькие жители смогут с&nbsp;января 2019&nbsp;года...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-4.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Финальный дом комплекса сдан!
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Четвертый дом жилого комплекса готовится встречать новоселов...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-5.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Изменен график работы офиса продаж 9&nbsp;августа
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Получить личную консультацию можно до 12 часов либо по телефону ...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-6.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Детский сад и&nbsp;школа скоро&nbsp;откроются
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Посещать учреждения маленькие жители смогут с&nbsp;января 2019&nbsp;года...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-7.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Финальный дом комплекса сдан!
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | Четвертый дом жилого комплекса готовится встречать новоселов...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-8.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
        // Card
        a(href='./single-news.html').link.link--block.card.card--news
            .card__image
                .image-container
                    img(src="assets/images/news-9.jpg", alt="").image.image--card
                .card__date
                    .text.text--small.text--fw300 18 июля 2018
            .card__inner
                .card__header
                    h5.title.title--card.text--fw900
                        | Четвертый дом комплекса заканчивает строительство
                .card__content
                    span.text.text--normal.text--fw500.text--mutted
                        | В&nbsp;финальном доме завершилась чистовая отделка и&nbsp;благоустройство...
                .card__footer
                    .text.text--fw300.text--small.text--mutted Читать далее&emsp;&emsp;&emsp;&gt;
        // Card End
    // Row End

    .row
        // Button Submit
        button(type="button").btn.btn--more.btn--filter
            | Показать ещё
            svg.icon.icon--arrow.arrow--down(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 34.04 59.72')
                g
                    path(d='M32.82 32.82L7.14 58.5a4.183 4.183 0 0 1-5.92-5.91l22.73-22.73L1.23 7.14a4.18 4.18 0 0 1 5.91-5.91l25.68 25.68a4.18 4.18 0 0 1 0 5.91zm0 0')
        // Button Submit End

block scripts
    script(src='assets/scripts/news.bundle.js')