extends ../main.layout.pug

block variables
    - var title = 'Паркинг'
    - var mainClass = 'main--parking'

block content
    // Header in Main
    .header.header--main.header--parking
        h1.title.title--header= title
    // Header in Main End
    //
    .row
        .docs-info
            // Select House
            dl.select
                // Selected Item
                dt.select__selected
                    a.link.link--text
                        span.text.text--normal.text--fw500.text--uppercase.selected Дом № 1
                // Selected Item End
                // Selected Items
                dd.select__options
                    ul.select__list
                        li.select__item
                            span.text.text--normal.text--fw500.text--uppercase.selected Дом № 1
                        li.select__item
                            span.text.text--normal.text--fw500.text--uppercase Дом № 2
                        li.select__item
                            span.text.text--normal.text--fw500.text--uppercase Дом № 3
                        li.select__item
                            span.text.text--normal.text--fw500.text--uppercase Дом № 4
                // Selected Items End
                // Selected Icon
                svg.icon.icon--arrow.arrow--down(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 34.04 59.72')
                    path(d='M32.82 32.82L7.14 58.5a4.183 4.183 0 0 1-5.92-5.91l22.73-22.73L1.23 7.14a4.18 4.18 0 0 1 5.91-5.91l25.68 25.68a4.18 4.18 0 0 1 0 5.91zm0 0')
                // Selected Icon End
            // Select House End
            //
            .text.text--large.text--fw500 Сайт застройщика
            a(href="http://mk.ekbstroy.net", target="_blank").link.link--text.text.text--normal.text--fw300.text--underline mk.ekbstroy.net
            //
    //
    .parking.row
        // Card
        .card.card--full-width
            .card__image
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512').icon.icon--zoom
                    path(d='M310 190a10 10 0 1 0 10 10 10 10 0 0 0-10-10z')
                    path(d='M500.28 443.72L366.8 310.24A198.2 198.2 0 0 0 400 200C400 89.72 310.28 0 200 0S0 89.72 0 200s89.72 200 200 200a198.21 198.21 0 0 0 110.24-33.2l36.89 36.89 96.57 96.57a40 40 0 1 0 56.56-56.56zm-173.76-88.93a200.68 200.68 0 0 0 28.28-28.28l28.37 28.37a242.73 242.73 0 0 1-28.28 28.28zM20 200c0-99.25 80.75-180 180-180s180 80.75 180 180a178.46 178.46 0 0 1-34.27 105.54 180.87 180.87 0 0 1-40.19 40.19A178.46 178.46 0 0 1 200 380c-99.25 0-180-80.75-180-180zm466.14 286.14a20 20 0 0 1-28.28 0l-88.8-88.8a262.77 262.77 0 0 0 28.28-28.28l88.8 88.8a20 20 0 0 1 0 28.27z')
                    path(d='M360 200c0-88.22-71.77-160-160-160S40 111.78 40 200s71.78 160 160 160 160-71.77 160-160zM200 340c-77.2 0-140-62.8-140-140S122.8 60 200 60s140 62.8 140 140-62.8 140-140 140z')
                    path(d='M306.32 170a10 10 0 0 0 5.75-12.92A120.19 120.19 0 0 0 200 80a10 10 0 0 0 0 20 100.68 100.68 0 0 1 93.4 64.25 10 10 0 0 0 12.92 5.75z')
                .image-container
                    img(src="assets/images/parking-preview.jpg", alt="").image.image--card
            .card__inner
                .card__header
                    .title.title--card.text--fw700 Места хватит каждому
                .card__content
                    .text.text--fw300.text--large
                        | Четырехуровневый паркинг на&nbsp;362&nbsp;места. У&nbsp;вас не&nbsp;возникнет проблем с&nbsp;поиском места для парковки. Место найдется и&nbsp;для ваших гостей. На&nbsp;первом уровне&nbsp;&mdash; 92&nbsp;места, куплено меньше&nbsp;40.
                    button.btn.btn--base.modal__trigger(data-modal="js-modal-1") Оставить заявку
    // Modal
    .modal#js-modal-1
        .modal__bg
        .modal__inner
            // Close Button
            a(href="#close", title="Закрыть").modal__close.link.link--block
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 54.82 55.72').icon.icon--close
                    path(d='M54.18 52L30 27.86 54.18 3.73a2.18 2.18 0 0 0 0-3.09A2.16 2.16 0 0 0 52.64 0a2.17 2.17 0 0 0-1.54.64L27.41 24.33 3.73.64A2.17 2.17 0 0 0 2.18 0 2.19 2.19 0 0 0 0 2.19a2.17 2.17 0 0 0 .64 1.54l24.13 24.13L.64 52a2.18 2.18 0 1 0 3.09 3.08L27.41 31.4l23.68 23.68A2.18 2.18 0 1 0 54.18 52z')
            // Close Button End

            h3.title.title--modal.text--fw700 Выбрали место или&nbsp;хотите получить консультацию специалиста?

            .text.text--fw100.text--large Оставьте заявку, и&nbsp;мы&nbsp;свяжемся с&nbsp;вами, чтобы забронировать понравившееся вам место или проконсультировать вас по&nbsp;любым вопросам.

            .text.text--fw100.text--large.text--hide Ваша заявка принята! Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время.

            a(href='#close').btn.btn--secondary.link.link--btn.modal__close ВЕРНУТЬСЯ НА САЙТ

            form.form(action="" method="POST" novalidate)
                .row
                    .field.field--name
                        label.field__label(for='field--name')
                            input#field--name(type="text", name="name", required, autocomplete='off', minlength="2").field__input
                            span.field__text.text.text--large.text--fw100 Представьтесь, пожалуйста *
                            span.field__error.field__error--char.text.text--xsmall.text--fw100.text--red поле не должно содержать цифры
                            span.field__error.field__error--required.text.text--xsmall.text--fw100.text--red поле должно быть заполнено
                    .field.field--phone
                        label.field__label(for='field--phone')
                            input#field--phone(type="text", name="phone", required, autocomplete='off', inputmode="tel", minlength="17", maxlength="17").field__input
                            span.field__text.text.text--large.text--fw100 Ваш телефон *
                            span.field__error.field__error--full.text.text--xsmall.text--fw100.text--red поле заполнено не полностью
                            span.field__error.field__error--char.text.text--xsmall.text--fw100.text--red поле не должно содержать буквы
                            span.field__error.field__error--required.text.text--xsmall.text--fw100.text--red поле должно быть заполнено
                    .field.field--number
                        label.field__label(for='field--number')
                            input#field--number(type="number", name="number", required, autocomplete='off',  minlength="1", maxlength="2", pattern="[0-9]*").field__input
                            span.field__text.text.text--large.text--fw100 Номер места
                            span.field__error.field__error--required.text.text--xsmall.text--fw100.text--red Несуществующий номер места
                            span.field__error.field__error--char.text.text--xsmall.text--fw100.text--red поле не должно содержать буквы
                    .text.text--xsmall.text--fw100
                        | Нажимая на&nbsp;кнопку, вы&nbsp;подтверждаете, что принимаете&#32;
                        a(href="#").link.link--text.text.text--brand.text--underline условия пользовательского соглашения
                        | &#32;и&nbsp;согласны на&nbsp;обработку персональных данных
                .row
                    input(type="submit", value="Отправить заявку").btn.btn--secondary.btn--submit
    // Modal End

block scripts
    script(src='assets/scripts/parking.bundle.js')