footer.footer
    .footer__inner
        address.address
            span.text.text--fw500.text--normal
                | Офис продаж
            span.text.text--fw300.text--small
                | Екатеринбург, ул. Ясная 2, офис
                | 503 (ТРЦ Фан Фан)
        .copyright
            span.text.text--fw300.text--normal
                | Сделано в&nbsp;
                a(href="http://radigital.ru/", title="RADIGITAL").link.link--text.text--underline RADIGITAL
        a.btn.btn--transparent.link.link--btn(href="#up")
            img(src="./assets/images/arrow-up.png", alt="Стрелка вверх")
