// Header
.header
    // Logo
    h1.logo
        a(href="/").logo__link.link.link--block
            .
    // Logo End
    // Button to Select Flats
    a.btn.btn--base.link.link--btn(href="")
        | Выбрать квартиру
    // Button to Select Flats End
    // Nav Main
    include ./menu.pug
    // Nav Main End
    // Link Phone
    a(href="tel:+73433020668").link.link--text
        | +7 (343) 302 06 68
    // Link Phone End 
    // Link Call Me
    a(href="tel:+73433020668").link.link--text
        | Перезвоните мне
    // Link Call Me End
    // Socials
    nav.nav.nav--socials
        ul.nav__list.nav__list--horizontal
            li.nav__item
                a(href="").link.link--nav fb
            li.nav__item
                a(href="").link.link--nav vk
            li.nav__item
                a(href="").link.link--nav insta 
    // Socials End