nav.nav.nav--main
    ul.nav__list.nav__list--horizontal
        li.nav__item
            a(href="").link.link--nav
                | О квартале
        li.nav__item
            a(href="").link.link--nav
                | Новости и акции
        li.nav__item
            a(href="").link.link--nav
                | Паркинг
        li.nav__item.nav__item--diveder 
        li.nav__item
            a(href="").link.link--nav
                | Коммерческая недвижимость
        li.nav__item
            a(href="").link.link--nav
                | Контакты
