nav.nav.nav--main
    ul.nav__list.nav__list--horizontal
        li.nav__item
            a(href="./about-concept.html").link.link--nav.text.text--normal.text--fw500
                | О квартале
        li.nav__item
            a(href="./news.html").link.link--nav.text.text--normal.text--fw500
                | Новости и акции
        li.nav__item
            a(href="./parking.html").link.link--nav.text.text--normal.text--fw500
                | Паркинг
        li.nav__item.nav__item--divider
        li.nav__item
            a(href="./commercial.html").link.link--nav.text.text--normal.text--fw500
                | Коммерческая недвижимость
        li.nav__item
            a(href="./contacts.html").link.link--nav.text.text--normal.text--fw500
                | Контакты
