block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title} - ЖК&nbsp;&laquo;Московский квартал&raquo;
        link(rel='stylesheet' href='assets/styles/main.css')
    body
        #up.page
            // Header
            include ./common/header.pug
            // Header End
            // Main
            main.main(class=mainClass)
                block content
            // Main End
            // Footer
            include ./common/footer.pug
            // Footer End
        script(src='assets/scripts/vendors.bundle.js')
        block scripts
