block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title} - ЖК&nbsp;&laquo;Московский квартал&raquo;
        link(rel='stylesheet' href='assets/styles/main.min.css')
    body
        .page
            main.main
                block content
            include ./common/footer.pug
        block scripts