html {
  overflow-x: hidden;
}
body,
html {
  background-color: $white;
}

body {
  font-family: "Museo Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
}

.page {
  width: 100vw;
  overflow: hidden;
  min-height: 100%;
  height: auto;
  position: relative;
}

.main {
  //
  @include clearfix();

  &--about {
    margin-top: 150px;
  }
}

// Filters
.filters {
  // Style
  @include clearfix();
  margin-bottom: 60px;

  > .filter {
    margin-right: 10px;
  }
}

// Results
.result {
  @include clearfix();

  > .card {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

// Features
.features {
  @include clearfix();

  > .card {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.specific {
  @include clearfix();
  margin-top: -8px;
}
