html {
  overflow-x: hidden;
}

body,
html {
  background-color: $white;
}

body {
  font-family: "Museo Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
}

.page {
  width: 100vw;
  overflow: hidden;
  min-height: 100%;
  height: auto;
  position: relative;
}

.row {
  @include clearfix();
  width: 100%;
}

.main {
  //
  @include clearfix();

  &--about,
  &--news,
  &--parking,
  &--contacts {
    margin-top: 135px;
  }

  &--news.single {
    width: 960px;
    margin: 135px auto 0;
  }
}

// Filters
.filters {
  // Style
  @include clearfix();
  margin-bottom: 50px;

  >.filter {
    margin-right: 10px;
  }

  .btn-group {
    box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, .13);
  }
}

// Results
.result {
  @include clearfix();

  >.card {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

// Features
.features {
  @include clearfix();

  >.card {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.specific {
  @include clearfix();
  margin-top: -8px;
}

.concept {
  margin-top: 94px;

  counter-reset: section;
}

.docs {
  &-info {
    width: 460px;
    margin: 94px auto 55px;

    .text--large {
      float: left;
      margin: 4px 0 7px;
    }

    .main--parking & {
      margin: 94px auto 55px;

      .text--large {
        float: left;
        margin: 10px 0 7px;
      }
    }
  }

  // Media Queries
  // Media Queries
  @media screen and (min-width: 1000px) {
    width: 702px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1068px;
  }

  @media screen and (min-width: 1500px) {
    width: 1434px;
  }

  @media screen and (min-width: 1860px) {
    width: 1800px;
  }
}

.news {
  margin: 94px 60px 0;

  // Media Queries
  @media screen and (min-width: 1000px) {
    width: 702px;
    margin: 94px auto 0;
  }

  @media screen and (min-width: 1200px) {
    width: 1068px;
  }

  @media screen and (min-width: 1500px) {
    width: 1434px;
  }

  @media screen and (min-width: 1860px) {
    width: 1800px;
  }
}

.contacts {
  margin-top: 100px;
}

.actions {
  margin: 94px auto 0;

  @media screen and (min-width: 1000px) {
    width: 885px;
    margin: 94px auto 0;
  }

  @media screen and (min-width: 1860px) {
    width: 1800px;
  }
}

.camera {
  margin: 94px 0 0;
}

.block {
  // Style

  @media screen and (min-width: 1000px) {
    width: 162px;
    height: 65px;
    margin-right: 40px;
    float: left;

    .text--xlarge {
      margin-bottom: 28px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      height: 98px;
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1700px) {
    margin-right: 80px;
  }
}
