.icon {
  //  Styles
  fill: $base-color;

  .btn--round & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $white;
  }

  .nav--map & {
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  //  Modifiers
  // Facebook
  &--fb {
    width: 5px;
    height: 10px;
  }

  // VK
  &--vk {
    width: 12px;
    height: 7px;
  }

  // Instagram
  &--insta {
    width: 11px;
    height: 11px;
  }

  // City Icon (Infrastructure Show All)
  &--city {
    width: 38px;
    height: 38px;

    .nav--map & {
      left: 72px;
    }
  }

  //
  &--transport {
    width: 40px;
    height: 40px;

    .nav--map & {
      left: 75px;
    }
  }

  //
  &--school {
    width: 36px;
    height: 43px;

    .nav--map & {
      left: 63px;
      top: 43%;
    }
  }

  //
  &--aid {
    width: 44px;
    height: 39px;

    .nav--map & {
      left: 69px;
      top: 52%;
    }
  }

  //
  &--fun {
    width: 46px;
    height: 41px;

    .nav--map & {
      left: 73px;
      top: 53%;
      transform: scale(-1, 1) translate(0, -50%);
    }
  }

  //
  &--shops {
    width: 42px;
    height: 40px;

    .nav--map & {
      left: 58px;
    }
  }

  //
  &--play {
    width: 114px;
    height: 114px;
    fill: $white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
  }

  &--zoom {
    width: 79px;
    height: 79px;
    fill: $white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
  }

  //
  &--docs {
    width: 38px;
    height: 40px;
    fill: $brand-color;

    float: left;
    margin-right: 16px;

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 2;
    // cursor: pointer;
  }

  &--sale {
    width: 40px;
    height: 40px;
    fill: $white;
    position: absolute;
  }

  &--close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &--phone {
    width: 12px;
    height: 12px;
    fill: $white;
  }

  &--hamburger {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $white;
      stroke-width: 5.5;
      stroke-linecap: round;

      &.top {
        stroke-dasharray: 40 82;
      }

      &.bottom {
        stroke-dasharray: 40 82;
      }

      .is-active &.top {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }

      .is-active &.bottom {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
      }
    }
  }

  // Arrows
  &--arrow {
    width: 7px;
    height: 12px;

    //  Arrow right
    &.arrow--right {}

    // Arrow Left
    &.arrow--left {
      transform: scale(-1, -1);
    }

    //  Arrow down
    &.arrow--down {
      transform: rotate(90deg);

      .btn--more & {
        fill: $black;
      }

      .btn--more:hover & {
        fill: $brand-color;
      }
    }

    &.arrow--up {
      transform: rotate(-90deg);
    }
  }
}

.ham5 .top {
  stroke-dasharray: 40 82;
}

.ham5 .bottom {
  stroke-dasharray: 40 82;
}

.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}

.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
