.map {
  // Style
  color: $base-color;

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Modifiers
  &--home {
    // Style
    width: 100%;

    @include aspect-ratio(1, 1);

    ymaps {
      position: absolute;
      top: 0;
      left: 0;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 350px;

      &::before {
        display: none;
      }
    }
  }

  &--contacts {
    // Style
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 450px;
    }

    @media screen and (min-width: 1700px) {
      height: 100%;
    }
  }
  // Hero SVG Map
  &--hero {
    width: 1032px;
    height: 654px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      position: absolute;
      top: 57%;
      left: 47%;
      transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 1700px) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }

    .btn {
      position: absolute;

      &:not(:nth-of-type(-n + 3)) {
        display: none;
      }

      @media screen and (min-width: 1000px) {
        &:not(:nth-of-type(-n + 3)) {
          display: block;
        }
      }
    }

    // Elements
    // Buttons
    .btn.is-active {
      z-index: 1;
    }

    .map__btn-1 {
      top: 26%;
      left: 7.8%;
    }

    .map__btn-2 {
      top: 64%;
      left: 40.5%;
    }

    .map__btn-3 {
      top: 44.4%;
      right: 5%;
    }

    @media screen and (min-width: 1000px) {
      .map__btn-1 {
        top: 15.3%;
        left: 7.8%;
      }

      .map__btn-2 {
        top: 64%;
        left: 40.5%;
      }

      .map__btn-3 {
        top: 44.4%;
        right: 12.8%;
      }

      .map__btn-4 {
        top: 17%;
        right: 2%;
      }

      .map__btn-5 {
        top: 17.6%;
        right: 23%;
      }

      .map__btn-6 {
        top: 7.6%;
        left: 57.1%;
      }

      .map__btn-7 {
        top: 7.2%;
        left: 42.3%;
      }
    }

    // Info
    .map_info {
      position: absolute;
      width: 0;
      height: 0;
      background-color: $white;
      box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
    }

    .map_info.is-visible {
      width: 140px;
      height: 140px;
      z-index: 2;

      .map__inner {
        display: block;
      }
    }

    .map_info--house-1 {
      top: 15.3%;
      left: 7.8%;
    }

    .map_info--house-2 {
      top: 48.72%;
      left: 30.94%;
    }

    .map_info--house-3 {
      top: 44.4%;
      right: 5%;
    }

    @media screen and (min-width: 1000px) {
      .map_info--house-1 {
        // background-color: #4a1dc2;
        top: 15.3%;
        left: 7.8%;
      }

      .map_info--house-2 {
        // background-color: #c7721b;
        top: 48.72%;
        left: 30.94%;
      }

      .map_info--house-3 {
        // background-color: #c05a8c;
        top: 44.4%;
        right: 12.8%;
      }

      .map_info--house-4 {
        // background-color: #c7a9ed;
        top: 17%;
        right: 2%;
      }

      .map_info--house-5 {
        // background-color: #9ce88a;
        top: 17.6%;
        right: 23%;
      }

      .map_info--house-6 {
        // background-color: #aef4b5;
        top: 7.6%;
        left: 47.5%;
      }

      .map_info--house-7 {
        // background-color: #8b0cf3;
        top: 7.2%;
        left: 32.65%;
      }
    }

    // Map Inner
    .map__inner {
      padding: 16px 20px;
      display: none;

      .text--mutted {
        margin: 2px 0 13px;
      }

      .text--fw300 {
        margin-bottom: 2px;
        line-height: 16px;
      }
    }
  }

  // Map Infrastructure
  &--infrastructure {
    // Style
    width: 100%;
    margin-bottom: 10px;

    @include aspect-ratio(32, 35);

    > ymaps {
      position: absolute;
      top: 0;
      left: 0;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 500px;

      &::before {
        display: none;
      }
    }
  }
}
