.text {
  //  Styles
  font-family: inherit;
  // Sizes
  &--xsmall {
    font-size: 10px;
  }
  &--small {
    font-size: 12px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
  &--normal {
    font-size: 14px;

    .card--base & {
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        font-size: 18px;
        line-height: 1;
      }

      &.link--nav {
        font-size: 12px;
      }
    }

    @media screen and (min-width: 1900px) {
      &.link--nav {
        font-size: 14px;
      }
    }
  }
  &--large {
    font-size: 16px;

    .card--base & {
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        font-size: 28px;
        line-height: 1;
        margin-top: 28px;

        .nav--map & {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  &--xlarge {
    // Style
    font-size: 18px;

    .card--base & {
    }

    .card--half-width & {
      line-height: 21px;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        font-size: 50px;
        line-height: 110px;
      }
    }
  }
  // Font Weight
  &--fw100 {
    font-weight: 100;
  }
  &--fw300 {
    font-weight: 300;
  }
  &--fw500 {
    font-weight: 500;
  }
  &--fw700 {
    font-weight: 700;
  }
  &--fw900 {
    font-weight: 900;
  }
  // Uppercase
  &--uppercase {
    text-transform: uppercase;
  }
  // Underline
  &--underline {
    text-decoration: underline;
  }
  // Colors
  &--brand {
    color: $brand-color;
  }
  &--mutted {
    color: $gray;
  }
  &--white {
    color: $white;
    fill: $white;
  }
  &--red {
    color: $red;
  }
  // Currency
  &--currency {
    font-family: "ALSRubl";
  }
}

//  Address
address {
  font-style: normal;
}
.address {
  // Style
  font-style: normal;

  .text {
    display: block;
  }

  // Media Queries
  @media screen and (min-width: 1000px) {
    width: 200px;

    .text--normal {
      line-height: 20px;
      margin-bottom: 8px;
    }
    .text--small {
      line-height: 14px;
    }
  }
}

// Copyright
.copyright {
  // Style

  // Media Queries
  @media screen and (min-width: 1000px) {
    // width: 200px;
    .text {
      line-height: 23px;
    }
  }
}
