.text {
  //  Styles
  font-family: inherit;

  .single & {
    line-height: 19px;
    letter-spacing: 0.2px;

    p {
      margin: 0 0 21px;
    }

    @media screen and (min-width: 1000px) {
      p {
        margin: 0 0 18px;
      }
    }
  }

  // Sizes
  &--xsmall {
    font-size: 10px;
  }

  &--small {
    font-size: 12px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        line-height: 1;
        font-size: 14px;
      }
    }
  }

  &--normal {
    font-size: 14px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        line-height: 1;
        font-size: 18px;
      }

      // .info__contacts & {
      //   font-size: 12px;
      // }
    }

    @media screen and (min-width: 1900px) {
      &.link--nav {
        font-size: 14px;
      }

      .info__contacts & {
        font-size: 14px;
      }
    }

    .card--base & {
      font-size: 12px;
    }

    .address & {
      font-size: 16px;
    }
  }

  &--large {
    font-size: 16px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        margin-top: 28px;
        line-height: 1;
        font-size: 28px;

        .nav--map & {
          line-height: 19px;
          font-size: 16px;
        }
      }

      .info__contacts & {
        font-size: 14px;
      }
    }

    @media screen and (min-width: 1700px) {
      .info__contacts & {
        font-size: 16px;
      }
    }

    .card--base & {
      font-size: 12px;
    }

    .card--full-width & {
      font-size: 14px;
    }

    .contacts & {
      margin-bottom: 6px;
    }
  }

  &--xlarge {
    // Style
    font-size: 18px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--base & {
        line-height: 110px;
        font-size: 50px;
      }

      .card--half-width & {
        line-height: 21px;
      }
    }

    .card--base & {
      line-height: 1;
      font-size: 36px;
    }

    .card--half-width & {
      line-height: 17px;
      font-size: 14px;
    }

    .contacts & {
      margin-bottom: 18px;
    }
  }

  // Font Weight
  &--fw100 {
    font-weight: 100;
  }

  &--fw300 {
    font-weight: 300;
  }

  &--fw500 {
    font-weight: 500;
  }

  &--fw700 {
    font-weight: 700;
  }

  &--fw900 {
    font-weight: 900;
  }

  // Uppercase
  &--uppercase {
    text-transform: uppercase;
  }

  // Underline
  &--underline {
    text-decoration: underline;
  }

  // Colors
  &--brand {
    color: $brand-color;
  }

  &--mutted {
    color: $gray;
  }

  &--white {
    fill: $white;
    color: $white;
  }

  &--red {
    color: $red;
  }

  // Currency
  &--currency {
    font-family: 'ALSRubl';
  }

  // Hide
  &--hide {
    display: none;

    & + .text {
      margin-top: -7px;
      margin-bottom: 102px;
    }
  }
}

//  Address
address {
  font-style: normal;
}

.address {
  // Style
  font-style: normal;
  text-align: center;
  margin: 46px 70px 22px;

  // Media Queries
  @media screen and (min-width: 1000px) {
    width: 200px;
    margin: 0;
    text-align: left;

    .text--normal {
      margin-bottom: 8px;
      line-height: 20px;
    }

    .text--small {
      line-height: 14px;
    }
  }

  .text {
    display: block;
  }

  .text--normal {
    margin-bottom: 7px;
  }

  .text--small {
    line-height: 14px;
  }

  .link {
    display: none;
  }
}

// Copyright
.copyright {
  // Style
  margin: 24px 0 56px;
  padding: 0 30px;

  // Media Queries
  @media screen and (min-width: 1000px) {
    // width: 200px;
    padding: 0;

    .text {
      line-height: 23px;
    }
  }

  .footer & {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
