.title {
  // Style
  letter-spacing: 0;
  color: $base-color;

  //  Media Queries
  @media screen and (min-width: 1000px) {
    letter-spacing: 0.24px;
  }

  //  Modifiers
  // Section Title
  &--section {
    // Style
    margin: 0 0 39px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.63px;
    font-size: 24px;
    font-weight: 700;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 0 250px 46px 230px;
      line-height: 44px;
      font-size: 36px;
    }

    // Modifiers
  }

  // Card Title
  &--card {
    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--half-width & {
        font-size: 24px;
      }

      .card--full-width & {
        margin-bottom: 34px;
        margin-left: -3px;
        text-align: left;
        line-height: 42px;
        word-spacing: 5px;
        font-size: 26px;
      }

      .camera .card--full-width &,
      .concept .card--full-width:nth-child(4) & {
        white-space: nowrap;
      }

      .card--docs & {
        line-height: 19px;
        font-size: 16px;
      }

      .card--news & {
        margin: 0;
        line-height: 22px;
        letter-spacing: 0.24px;
        font-size: 18px;
      }

      .card--actions & {
        margin: 0;
        line-height: 29px;
        letter-spacing: 0.24px;
        font-size: 24px;
      }
    }

    @media screen and (min-width: 1700px) {
      .card--full-width & {
        font-size: 36px;
      }
    }

    .card--full-width & {
      text-align: left;
      line-height: 29px;
      word-spacing: 1px;
      font-size: 24px;
      letter-spacing: 0.24px;
    }
    // Style
    .card--flats & {
      line-height: 22px;
      font-size: 17.81px;
    }

    .card--half-width & {
      font-size: 18px;
    }

    .card--docs & {
      line-height: 19px;
      font-size: 16px;
    }

    .card--news &,
    .card--actions & {
      margin: 0;
      font-size: 18px;
      font-weight: 900;
    }

    .card--actions & {
      letter-spacing: 0.24px;
    }

    // Modifiers
  }

  // Header Title
  &--header {
    // Style
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 0 0 34px;
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 36px;
    font-weight: 900;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 0 0 49px;
      font-size: 48px;
    }

    @media screen and (min-width: 1600px) {
      font-size: 60px;
    }
  }

  // Main Title h1 in inner page
  &--main {
    // Style
    display: inline-block;
    margin: 19px 0 37px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 41px 0 54px -12px;
      font-size: 36px;

      .gallery & {
        margin: 51px 0 45px -3px;
      }
    }

    .about--docs & {
      margin: 19px 0 31px;
    }

    .main--about.gallery & {
      margin: 19px 0 36px;
    }
  }

  // Modal Title
  &--modal {
    // Style
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;

    .modal__inner--thanks & {
      margin-bottom: 33px;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin-bottom: 35px;
      text-align: center;
      line-height: 43px;
      font-size: 36px;
    }
  }

  // Slider Title
  &--slider {
    // Style
    margin: 0;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 24px;
    }
  }

  &--news {
    // Style
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.24px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 42px;
    }
  }
}
