.title {
  // Style
  color: $base-color;

  //  Media Queries
  @media screen and (min-width: 1000px) {
  }

  //  Modifiers
  // Section Title
  &--section {
    // Style
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 0 250px 46px 230px;
    }

    // Modifiers
  }
  // Card Title
  &--card {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
      .card--half-width & {
        font-size: 24px;
      }
      .card--full-width & {
        font-size: 36px;
        text-align: left;
        line-height: 42px;
        margin-bottom: 34px;
        margin-left: -3px;
        word-spacing: 5px;
      }

      .card--docs & {
        font-size: 16px;
        line-height: 19px;
      }

      .card--news & {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        letter-spacing: 0.24px;
      }
    }

    // Modifiers
  }
  // Header Title
  &--header {
    // Style
    color: $white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 0;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 60px;
      font-weight: 900;
      margin: 0 0 49px;
    }
  }

  // Main Title h1 in inner page
  &--main {
    // Style
    text-align: center;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 41px 0 54px -12px;
      font-size: 36px;
      display: inline-block;
      width: 100%;

      .gallery & {
        margin: 51px 0 45px -3px;
        letter-spacing: 0.24px;
      }
    }
  }

  // Modal Title
  &--modal {
    // Style
    margin: 0;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 36px;
      text-align: center;
      line-height: 43px;
      margin-bottom: 35px;
    }
  }

  // Slider Title
  &--slider {
    // Style
    margin: 0;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 24px;
    }
  }

  &--news {
    // Style
    margin: 0;

    // Media Queries
    @media screen and (min-width: 1000px) {
      font-size: 42px;
    }
  }
}
