button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  // Styles
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  padding: 0 1em;
  font-size: 12px;
  background-color: $gray;
  color: $white;
  border: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 0px 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
  position: relative;
  outline: none;
  cursor: pointer;

  // States
  // Default
  &:link {}

  // Visited
  &:visited {}

  // Hover
  &:hover {
    outline: none;
    border: 0;
    background-color: $tundora;
  }

  // Focus
  &:focus {
    outline: none;
    border: 0;
  }

  // Active
  &:active {
    outline: none;
    border: 0;
    color: $gray;
  }

  &:disabled {
    cursor: not-allowed;
  }

  //  Media Queries
  @media screen and (min-width: 1000px) {
    width: 230px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
  }

  @media screen and (min-width: 1700px) {
    font-size: 14px;
    width: 250px;
    height: 55px;
    line-height: 55px;
    padding: 0 25px;
  }

  // Modifiers
  // Base button
  &--base {
    background-color: $brand-color;
    color: $white;

    &:hover {
      background-color: $accent;
    }
  }

  // Secondary button
  &--secondary {
    background-color: $secondary-color;
    color: $white;
    text-align: left;
  }

  // Transparent button
  &--transparent {
    background-color: transparent;
    box-shadow: none;

    .hero & {
      position: absolute;
      bottom: 18px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;

      .icon {
        width: 54px;
        height: 39px;
        fill: $white;
      }
    }

    .footer & {
      .icon {
        width: 22px;
        height: 39px;
      }
    }

    // States
    // Default
    &:link {}

    // Visited
    &:visited {}

    // Hover
    &:hover {
      outline: none;
      border: 0;
      background-color: transparent;

      .icon {
        fill: $brand-color;
      }
    }

    // Focus
    &:focus {
      outline: none;
      border: 0;
    }

    // Active
    &:active {
      outline: none;
      border: 0;
      color: $gray;
    }
  }

  // Round button
  &--round {
    background-color: $brand-color;
    width: 31px;
    height: 31px;
    border-radius: 500px;
    padding: 0;
    min-height: 0;

    &:hover {
      background-color: $accent;
    }
  }

  // Square button
  &--square {
    width: 40px;
    height: 40px;
    background-color: $brand-color;
    color: $white;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    padding: 0;
  }

  // Full-width button
  &--full-width {
    width: 100%;

    .card__footer & {
      height: 60px;
      padding: 0 19px;

      >.icon {
        fill: $white;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 27px;
      }
    }
  }

  // Filter Button
  &--filter {
    height: 60px;
    width: 210px;
    padding: 0 25px;
    margin: 0;
    box-shadow: 0px 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);

    >.icon {
      fill: $white;
      position: absolute;
      top: 50%;
      margin-top: -6px;
      right: 18px;
    }

    &:hover {
      box-shadow: 0px 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);
    }
  }

  // Load More Button
  &--more {
    // Style
    width: 230px;
    margin: 20px auto 10px;
    background-color: $white;
    color: $black;
    display: block;
    text-align: left;

    &:hover {
      background-color: $white;
    }
  }

  // Submit Button
  &--submit {
    text-align: center;
    background-color: $base-color;

    &:hover {
      background-color: $secondary-color;
    }

    &:disabled {
      background-color: $white;
      color: $black;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin-top: 86px;
    }
  }

  // Back Button
  &--back {
    // Style
    background-color: $white;
    color: $black;
    text-align: right;

    .icon.icon--arrow {
      position: absolute;
      top: 48%;
      transform: translateY(-50%) scale(-1);
      left: 26px;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0px 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);

      .icon {
        fill: $brand-color;
      }
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      display: block;
      margin: 84px auto 9px;
    }
  }
}
