input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field {
  // Style
  position: relative;
  margin: 0 auto 15px;
  max-width: 290px;
  height: 50px;

  + .text {
    margin: 39px 0 0;
    line-height: 12px;
  }

  // Media Queries
  @media screen and (min-width: 1000px) {
    float: left;
    margin-right: 40px;
    margin-bottom: 15px;
    width: 290px;
    height: 50px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  // Elements
  &__label {
    // Style
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    // Media Queries
    @media screen and (min-width: 1000px) {
      width: 100%;
      height: 100%;
    }
    // Modifiers
  }

  &__input {
    // Style
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid $black;
    padding: 0;
    line-height: 100%;
    color: $black;
    font-family: 'Museo Sans', sans-serif;
    font-size: 16px;
    font-weight: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // Media Queries
    @media screen and (min-width: 1000px) {
    }
    // Modifiers
  }

  &__text {
    // Style
    display: block;
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    top: 17px;
    left: 0;
    line-height: 17px;

    // Media Queries
    @media screen and (min-width: 1000px) {
    }
    // Modifiers
  }

  &__error {
    // Style
    display: none;
    position: relative;
    position: absolute;
    width: 100%;
    background-color: $white;
    text-align: left;

    // Media Queries
    @media screen and (min-width: 1000px) {
      bottom: -22px;
      left: 0;
    }
    // Modifiers
    &--top {
      z-index: 1;
    }
  }

  // Modifiers

  // States
  &.is-active {
    // Media Queries
    @media screen and (min-width: 1000px) {
    }
    // Style
    .field__text {
      display: none;
    }
  }

  &.is-valid {
    // Media Queries
    @media screen and (min-width: 1000px) {
    }
    // Style

    .field__text {
      display: none;
    }
  }

  &.is-error {
    // Media Queries
    @media screen and (min-width: 1000px) {
    }
    // Style

    .field__error {
      display: block;
    }

    .field__text {
      display: none;
    }

    .field__input {
      border-color: $red;
    }
  }
}
