.header {
  @include clearfix();

  // @media screen and (min-width: 1000px) {
  // }

  // Elements
  &__inner {
    position: relative;
  }

  &__slide {
    display: block;
    position: fixed;
    // opacity: 0;
    height: 0;
    transition: all 800ms ease;
  }

  &__container {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 600ms ease;
  }

  // Modifiers
  &--top {
    // Style
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
    background-color: $white;
    overflow: hidden;
    transition: all 600ms ease;

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 135px;

      > .btn {
        margin-top: 0;
      }

      .btn--call,
      .logo--small,
      .btn--nav-trigger {
        display: none;
      }
    }

    @media screen and (min-width: 1700px) {
      > .btn {
        margin-top: 0;
      }

      .logo--small {
        display: block;
      }
    }

    &.is-active {
      height: 100%;
      transition: all 600ms ease;

      .header__inner {
        position: relative;
        top: 0;
        z-index: 2;
        // width: 100%;
      }

      .header__slide {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // opacity: 1;
        z-index: 1;
        height: auto;
        padding: 60px 0 0;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: all 300ms ease;

        .header__container {
          height: 100%;

          &.header__container--height-auto {
            height: auto;
          }
        }
      }
    }

    // Elements
    .header__inner {
      // Style
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;
      width: auto;
      height: 60px;

      @media screen and (min-width: 1000px) {
        margin: 0 auto;
        max-width: 1014px;
        height: 100%;
        width: 100%;

        > .btn {
          margin-top: -21px;
        }
      }

      @media screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        width: 1000px;
        padding-right: 14px;
      }

      @media screen and (min-width: 1700px) {
        margin: 0 60px;
        width: auto;
        max-width: none;

        > .btn {
          margin-top: 2px;
        }
      }

      @media screen and (min-width: 1700px) and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        width: auto;
        margin: 0 43px 0 60px;
        padding: 0;
      }

      .btn {
        margin-top: -2px;
      }

      .logo--small {
        margin-top: 8px;
      }
    }

    .header__slide {
      // Media Queries
      @media screen and (min-width: 1000px) {
        display: none;
      }
      // Style
    }
  }

  &--transparent {
    @media screen and (min-width: 1000px) {
      box-shadow: none;
      // background-color: transparent;
      background: rgba(66, 66, 66, 1);
      background: linear-gradient(180deg, rgba(66, 66, 66, 1) 0%, rgba(66, 66, 66, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
      color: $white;
    }
  }

  &--main {
    // Style
    position: relative;
    background-image: url(../images/hero-bg-about.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;

    &.header--action {
      background-image: url(../images/hero-bg-action.jpg);
    }

    &.header--news {
      background-image: url(../images/hero-bg-news.jpg);
    }

    &.header--infrastructure {
      background-image: url(../images/hero-bg-infrastructure.jpg);
    }

    &.header--gallery {
      background-image: url(../images/hero-bg-gallery.jpg);
    }

    &.header--camera {
      background-image: url(../images/hero-bg-camera.jpg);
    }

    &.header--docs {
      background-image: url(../images/hero-bg-docs.jpg);
    }

    &.header--parking {
      background-image: url(../images/hero-bg-parking.jpg);
    }

    &.header--contacts {
      background-image: url(../images/hero-bg-contacts.jpg);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 60%;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(66, 66, 66, 0.4)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#424242', GradientType=0);
      content: '';
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      position: relative;
      height: 320px;
      background-image: url(../images/hero-bg-about.jpg);
      background-size: cover;

      &.header--action {
        background-image: url(../images/hero-bg-action.jpg);
      }

      &.header--news {
        background-image: url(../images/hero-bg-news.jpg);
      }

      &.header--infrastructure {
        background-image: url(../images/hero-bg-infrastructure.jpg);
      }

      &.header--gallery {
        background-image: url(../images/hero-bg-gallery.jpg);
      }

      &.header--camera {
        background-image: url(../images/hero-bg-camera.jpg);
      }

      &.header--docs {
        background-image: url(../images/hero-bg-docs.jpg);
      }

      &.header--parking {
        background-image: url(../images/hero-bg-parking.jpg);
      }

      &.header--contacts {
        background-image: url(../images/hero-bg-contacts.jpg);
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 60%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(66, 66, 66, 0.4)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(66, 66, 66, 0.4) 100%);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#424242', GradientType=0);
        content: '';
      }
    }

    @media screen and (min-width: 1600px) {
      height: 400px;
    }

    // Elements
  }

  &--single-news {
    // Style
    height: auto;
    text-align: center;
    margin-bottom: 39px;

    @include clearfix();

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin-bottom: 39px;
      padding-top: 88px;
      letter-spacing: 0.63px;
    }
  }
}

.info {
  margin-top: 33px;
  padding: 0 30px;
  color: inherit;
  // Styles
  @include clearfix();

  // Media Queries
  @media screen and (min-width: 1000px) {
    position: absolute;
    top: 37px;
    right: 0;
    margin-top: 0;
    margin-left: -41px;
    width: 291px;
    padding: 0;
  }

  @media screen and (min-width: 1700px) {
    position: relative;
    right: auto;
    margin: 0;
  }

  // Elements
  &__contacts {
    width: auto;

    // Media Queries
    @media screen and (min-width: 1000px) {
      float: left;
      margin-top: 0px;
      width: 60%;
      text-align: right;

      .link {
        line-height: 18px;
      }
    }

    @media screen and (min-width: 1700px) {
      margin-top: 0;
      padding-right: 14px;

      .text--large {
        margin-bottom: 6px;
      }
    }
  }

  &__socials {
    margin-top: 28px;
    width: auto;

    @include clearfix();
    // Media Queries
    @media screen and (min-width: 1000px) {
      float: right;
      margin-top: 0;
      width: 40%;
    }
  }

  .link {
    display: block;

    &.text--large {
      font-size: 20px;

      @media screen and (min-width: 1000px) {
        font-size: 14px;
      }

      @media screen and (min-width: 1700px) {
        font-size: 16px;
      }
    }

    &.text--normal {
    }

    &.text--underline {
      margin-top: 3px;
    }
  }
}
