.header {
  @include clearfix();

  @media screen and (min-width: 1000px) {}

  // Elements
  &__inner {
    position: relative;
  }

  &__slide {}

  // Modifiers
  &--top {
    // Style
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
    z-index: 10;

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 135px;

      >.btn {
        margin-top: 0;
      }

      .btn--call,
      .logo--small,
      .btn--nav-trigger {
        display: none;
      }
    }

    @media screen and (min-width: 1700px) {
      >.btn {
        margin-top: 0;
      }
    }

    // Elements
    .header__inner {
      width: auto;
      height: 100%;

      @media screen and (min-width: 1000px) {
        // margin: 0 60px;
        margin: 0 auto;
        max-width: 1014px;
        display: flex;
        justify-content: space-between;



        >.btn {
          margin-top: 36px;
        }
      }

      @media screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        padding-right: 14px;
        width: 1000px;
      }

      @media screen and (min-width: 1700px) {
        margin: 0 60px;
        max-width: none;
        width: auto;

        >.btn {
          margin-top: 40px;
        }
      }

      @media screen and (min-width: 1700px) and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
        padding-right: 0;
        width: auto;
      }
    }

    .header__slide {

      // Media Queries
      @media screen and (min-width: 1000px) {
        display: none;
      }
    }
  }

  &--transparent {
    // background-color: transparent;
    background-color: rgba(66, 66, 66, 1);
    background: linear-gradient(180deg,
      rgba(66, 66, 66, 1) 0%,
      rgba(66, 66, 66, 0.5) 70%,
      rgba(255, 255, 255, 0) 100%);
    box-shadow: none;
    color: $white;
  }

  &--main {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
      height: 320px;
      background-image: url(../images/hero-bg-about.jpg);
      position: relative;
      background-size: cover;

      &.header--action {
        background-image: url(../images/hero-bg-action.jpg);
      }

      &.header--news {
        background-image: url(../images/hero-bg-news.jpg);
      }

      &.header--infrastructure {
        background-image: url(../images/hero-bg-infrastructure.jpg);
      }

      &.header--gallery {
        background-image: url(../images/hero-bg-gallery.jpg);
      }

      &.header--camera {
        background-image: url(../images/hero-bg-camera.jpg);
      }

      &.header--docs {
        background-image: url(../images/hero-bg-docs.jpg);
      }

      &.header--parking {
        background-image: url(../images/hero-bg-parking.jpg);
      }

      &.header--contacts {
        background-image: url(../images/hero-bg-contacts.jpg);
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        content: "";
        background: -moz-linear-gradient(top,
          rgba(255, 255, 255, 0) 0%,
          rgba(66, 66, 66, 0.4) 100%);
        background: -webkit-gradient(left top,
          left bottom,
          color-stop(0%, rgba(255, 255, 255, 0)),
          color-stop(100%, rgba(66, 66, 66, 0.4)));
        background: -webkit-linear-gradient(top,
          rgba(255, 255, 255, 0) 0%,
          rgba(66, 66, 66, 0.4) 100%);
        background: -o-linear-gradient(top,
          rgba(255, 255, 255, 0) 0%,
          rgba(66, 66, 66, 0.4) 100%);
        background: -ms-linear-gradient(top,
          rgba(255, 255, 255, 0) 0%,
          rgba(66, 66, 66, 0.4) 100%);
        background: linear-gradient(to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(66, 66, 66, 0.4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#424242', GradientType=0);
        z-index: 1;
      }
    }

    @media screen and (min-width: 1600px) {
      height: 400px;
    }

    // Elements
  }

  &--single-news {
    // Style
    @include clearfix();
    height: auto;
    text-align: center;

    // Media Queries
    @media screen and (min-width: 1000px) {
      padding-top: 88px;
      margin-bottom: 39px;
      letter-spacing: 0.63px;
    }
  }
}

.info {
  // Styles
  @include clearfix();
  color: inherit;

  // Media Queries
  @media screen and (min-width: 1000px) {
    width: 291px;
    margin-left: -41px;
    position: absolute;
    right: 0;
  }

  @media screen and (min-width: 1000px) {
    position: relative;
    right: auto;
  }

  // Elements
  &__contacts {
    width: 56%;
    float: left;

    // Media Queries
    @media screen and (min-width: 1000px) {
      text-align: right;
      margin-top: 38px;

      .link {
        line-height: 18px;
      }
    }

    @media screen and (min-width: 1700px) {
      margin-top: 45px;
    }
  }

  &__socials {
    width: 44%;
    float: right;

    // Media Queries
  }

  .link {
    display: block;
  }
}
