.list {
  // Style

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Elements
  &__item {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
    &--termin {
      float: left;
      width: 50px;
    }

    &--description {
      float: right;
      margin: 0;
      width: 100px;
    }
  }

  // Modifiers
  &--description {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
    }
  }
}
