.list {
  // Style

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Elements
  &__item {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
    &--termin {
      float: left;
      width: 50px;
      text-transform: uppercase;

      .block--wide & {
        width: 90px;
      }
    }

    &--description {
      float: right;
      margin: 0;
      width: 100px;
    }
  }

  // Modifiers
  &--description {
    // Style
    line-height: 20px;

    @include clearfix();
    // Media Queries
    @media screen and (min-width: 1000px) {
    }
  }
}
