.logo {
  // Styles

  // Media Queries
  @media screen and (min-width: 1000px) {
    position: absolute;
    left: 50%;
    margin: 26px 0 0 -71px;
    z-index: 2;
  }

  @media screen and (min-width: 1900px) {
    margin: 27px 0 0 -72px;
  }
}
