.nav {
  // Styles
  @include clearfix();
  height: 100%;
  //Elements
  // Nav List
  &__list {
    // Styles
    @include clearfix();
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    // Modifiers
    &--horizontal {
      @include clearfix();
    }
  }
  // Nav Item
  &__item {
    //  Styles
    float: left;
    display: block;
    color: inherit;

    &:hover {
      color: $brand-color;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
    &--divider {
      height: 10px;
      margin-right: 0;
      margin-left: -43px;

      @media screen and (min-width: 1000px) {
        width: 287px;
        margin-right: 0;
        margin-left: -53px;
      }

      @media screen and (min-width: 1700px) {
        width: 298px;
        margin-right: 0;
        margin-left: -43px;
      }
    }
  }
  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Modifiers
  // Main
  &--main {
    // Styles
    float: left;

    > .nav__list--horizontal {
      // display: flex;
      // justify-content: space-between;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 68px;

      > .nav__list--horizontal {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .nav__item {
        margin-right: 53px;

        &:last-of-type {
          margin-right: 0;
        }

        &.nav__item--divider {
          margin-right: 0;

          + .nav__item {
            margin-right: 93px;
          }
        }
      }
    }

    @media screen and (min-width: 1700px) {
      position: relative;
      width: 960px;
      height: 100%;

      > .nav__list--horizontal {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .nav__item {
        margin-right: 42px;

        &.nav__item--divider {
          + .nav__item {
            margin-right: 68px;
          }
        }
      }
    }
  }
  // Socials
  &--socials {
    // width: 100%;
    height: auto;

    .info__socials & {
      float: right;
      @media screen and (min-width: 1000px) {
        margin-top: 30px;
      }
      @media screen and (min-width: 1700px) {
        margin-top: 50px;
      }
    }

    .nav__item {
      margin-right: 10px;

      &:first-of-type {
        margin-right: 11px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  // Inner
  &--inner {
    // Style
    .nav__list {
      width: auto;
      margin: 0 auto;
    }

    .nav__item {
      float: left;
      box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      // State
      // Hover
      &:hover {
        box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);

        .link {
          color: inherit;
        }
      }

      &.is-active {
        box-shadow: none;
        background-color: $secondary-color;
        color: $white;
      }
    }
    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 30px auto;
      text-align: center;

      .nav__list {
        display: inline-block;
      }
      .nav__item {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        .link {
          padding: 16px 26px;
          line-height: 1.36;
          display: block;
        }
      }
    }
  }

  // Map
  &--map {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
      width: 960px;
      margin: 0 auto 73px;
    }
  }
}
