.nav {
  height: 100%;
  // Styles
  @include clearfix();

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  //Elements
  // Nav List
  &__list {
    margin: 0;
    width: 100%;
    padding: 0;
    list-style-type: none;
    // Styles
    @include clearfix();

    // Modifiers
    &--horizontal {
      @include clearfix();
    }
  }

  // Nav Item
  &__item {
    //  Styles
    display: block;
    color: inherit;

    // Media Queries
    @media screen and (min-width: 1000px) {
      float: left;
    }

    &:hover {
      color: $brand-color;
    }

    // Modifiers
    &--divider {
      height: 10px;
      // margin-right: 0;
      // margin-left: -43px;

      @media screen and (min-width: 1000px) {
        // width: 287px;
        // margin-right: 0;
        // margin-left: -53px;
      }

      @media screen and (min-width: 1700px) {
        margin-right: 0;
        margin-left: -43px;
        width: 298px;
      }
    }
  }

  // Modifiers
  // Main
  &--main {
    // Styles
    margin: 28px 0 0;
    width: 100%;
    height: auto;

    // Media Queries
    @media screen and (min-width: 1000px) {
      position: absolute;
      top: 21px;
      left: 269px;
      width: 455px;
      margin: 0;

      > .nav__list--horizontal {
      }

      .nav__item {
        position: relative;
        float: none;
        width: 120px;
        height: auto;
        border: 0;

        &:nth-of-type(2n) {
          height: auto;
        }

        &.nav__item--divider {
          display: none;
        }

        &:nth-of-type(-n + 3) {
          display: block;
          float: left;
          clear: left;
          margin-top: 2px;
        }

        &:nth-last-of-type(-n + 2) {
          display: block;
          float: right;
          clear: right;
          text-align: right;
        }

        &:nth-last-of-type(2) {
          margin-top: -43px;
          line-height: 15px;
        }

        .text--fw500 {
          padding: 0;
        }
      }
    }

    @media screen and (min-width: 1700px) {
      position: relative;
      top: 0;
      left: 23px;
      width: 970px;
      height: 100%;

      > .nav__list--horizontal {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      .nav__item {
        margin-right: 39px;
        width: auto;

        &.nav__item--divider {
          display: block;
          float: left;
          margin-right: 0;
          margin-left: -43px;
          width: 298px;
          height: 50px;

          + .nav__item {
            margin-right: 58px;
          }
        }

        &:first-of-type {
          margin-right: 42px;
        }

        &:nth-of-type(2) {
          margin-right: 35px;
        }

        &:nth-of-type(-n + 3) {
          display: block;
          float: left;
          clear: none;
          margin-top: 2px;
        }

        &:nth-last-of-type(-n + 2) {
          display: block;
          float: left;
          clear: none;
          text-align: left;
        }

        &:nth-last-of-type(2) {
          margin-top: 0;
          line-height: 15px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    > .nav__list--horizontal {
      // display: flex;
      // justify-content: space-between;
    }

    .nav__item {
      height: 49px;
      border-top: 1px solid $french-gray;

      &:nth-of-type(2n) {
        height: 51px;
      }

      .text {
        letter-spacing: 0.24px;
      }

      .text--fw500 {
        display: block;
        line-height: 50px;
        font-weight: 700;
        padding: 0 30px;
      }
    }

    .nav__item--divider {
      display: none;
    }
  }

  // Socials
  &--socials {
    // width: 100%;
    height: auto;

    .info__socials & {
      @media screen and (min-width: 1000px) {
        float: right;
        margin-top: 38px;
      }

      @media screen and (min-width: 1700px) {
        margin-top: 7px;
      }
    }

    .nav__item {
      margin-right: 10px;
      float: left;

      &:first-of-type {
        margin-right: 11px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  // Inner
  &--inner {
    // Style
    text-align: center;
    margin: 21px auto;

    .main--news & {
      margin: 19px auto;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 30px auto;
      text-align: center;

      .nav__list {
        display: inline-block;
      }

      .nav__item {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        .link {
          padding: 16px 26px;
        }
      }
    }

    .nav__list {
      margin: 0 auto;
      width: auto;
    }

    .nav__item {
      // float: left;
      display: inline-block;
      box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      margin-right: 20px;

      &:first-of-type {
        margin-right: 0;

        .main--news & {
          margin-right: 17px;
        }
      }

      &:nth-last-child(odd) {
        margin-right: 0;
      }

      .link {
        display: block;
        padding: 13px 17px;
        line-height: 1;

        .main--news & {
          padding: 13px 22px;
        }
      }

      // State
      // Hover
      &:hover {
        box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);

        .link {
          color: inherit;
        }
      }

      &.is-active {
        box-shadow: none;
        background-color: $secondary-color;
        color: $white;
      }
    }
  }

  // Map
  &--map {
    // Style
    margin: 0 20px 35px;

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 0 auto 73px;
      width: 960px;
    }
  }
}
