.nav {
  // Styles
  @include clearfix();
  height: 100%;

  //Elements
  // Nav List
  &__list {
    // Styles
    @include clearfix();
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    // Modifiers
    &--horizontal {
      @include clearfix();
    }
  }

  // Nav Item
  &__item {
    //  Styles
    float: left;
    display: block;
    color: inherit;

    &:hover {
      color: $brand-color;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {}

    // Modifiers
    &--divider {
      height: 10px;
      // margin-right: 0;
      // margin-left: -43px;

      @media screen and (min-width: 1000px) {
        // width: 287px;
        // margin-right: 0;
        // margin-left: -53px;
      }

      @media screen and (min-width: 1700px) {
        width: 298px;
        margin-right: 0;
        margin-left: -43px;
      }
    }
  }

  // Media Queries
  @media screen and (min-width: 1000px) {}

  // Modifiers
  // Main
  &--main {
    // Styles
    float: left;

    >.nav__list--horizontal {
      // display: flex;
      // justify-content: space-between;
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      position: absolute;
      width: 455px;
      left: 269px;
      top: 21px;

      >.nav__list--horizontal {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // // width: 1000px;
      }

      .nav__item {
        // margin-right: 53px;
        // &:last-of-type {
        //   margin-right: 0;
        // }
        // &.nav__item--divider {
        //   margin-right: 0;
        //   +.nav__item {
        //     margin-right: 93px;
        //   }
        // }
        float: none;
        position: relative;
        width: 120px;

        &.nav__item--divider {
          display: none;
        }

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          float: left;
          display: block;
          clear: left;
          margin-top: 2px;
        }

        &:nth-last-of-type(1),
        &:nth-last-of-type(2) {
          float: right;
          display: block;
          clear: right;
          text-align: right;
        }

        &:nth-last-of-type(2) {
          margin-top: -43px;
          line-height: 15px;
        }
      }
    }

    @media screen and (min-width: 1700px) {
      position: relative;
      width: 960px;
      height: 100%;
      top: 0;
      left: 0;

      >.nav__list--horizontal {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      .nav__item {
        margin-right: 42px;
        width: auto;

        &.nav__item--divider {
          display: block;
          width: 298px;
          margin-right: 0;
          margin-left: -43px;
          float: left;

          +.nav__item {
            margin-right: 68px;
          }
        }


        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          float: left;
          display: block;
          clear: none;
          margin-top: 2px;
        }

        &:nth-last-of-type(1),
        &:nth-last-of-type(2) {
          float: left;
          display: block;
          clear: none;
          text-align: left;
        }

        &:nth-last-of-type(2) {
          margin-top: 0;
          line-height: 15px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  // Socials
  &--socials {
    // width: 100%;
    height: auto;

    .info__socials & {
      float: right;

      @media screen and (min-width: 1000px) {
        margin-top: 38px;
      }

      @media screen and (min-width: 1700px) {
        margin-top: 50px;
      }
    }

    .nav__item {
      margin-right: 10px;

      &:first-of-type {
        margin-right: 11px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  // Inner
  &--inner {

    // Style
    .nav__list {
      width: auto;
      margin: 0 auto;
    }

    .nav__item {
      float: left;
      box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      // State
      // Hover
      &:hover {
        box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);

        .link {
          color: inherit;
        }
      }

      &.is-active {
        box-shadow: none;
        background-color: $secondary-color;
        color: $white;
      }
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 30px auto;
      text-align: center;

      .nav__list {
        display: inline-block;
      }

      .nav__item {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        .link {
          padding: 16px 26px;
          line-height: 1.36;
          display: block;
        }
      }
    }
  }

  // Map
  &--map {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
      width: 960px;
      margin: 0 auto 73px;
    }
  }
}
