.section {
  // Style
  @include clearfix();

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Elements
  &__inner {
    // Style
    padding: 31px 5px 0;

    @include clearfix();

    // Media Queries
    @media screen and (min-width: 1000px) {
      margin: 0 auto;
      width: 960px;
      padding: 31px 0 0;
    }

    // Modifiers
  }

  &__title {
    // Style

    // Media Queries
    @media screen and (min-width: 1000px) {
      text-align: center;
    }

    // Modifiers
  }
  // Modifiers
}

#search {
  .section__inner {
    padding: 54px 0 0;

    @media screen and (min-width: 1000px) {
      padding: 93px 0 0;
    }
  }
}
