.select {
  // Style
  position: relative;
  float: left;
  width: 230px;
  margin: 0 30px 0 0;
  box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);

  .text {
    text-align: left;
  }
  
  &.filter {
    width: 280px;
    margin: 0 auto 20px;

    @media screen and (min-width: 1000px) {
      width: 180px;
    }
  }

  > .icon {
    position: absolute;
    top: 46%;
    transform: rotate(90deg) translate(-50%);
    right: 22px;
    fill: $base-color;
    z-index: 2;

    &.is-active {
      transform: rotate(-90deg) translate(-50%, -50%);
      top: 35%;
    }
  }

  // States
  &:hover {
    box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.35);

    > .icon {
      fill: $brand-color;
    }
  }

  // Media Queries
  @media screen and (min-width: 1000px) {
  }

  // Elements
  &__selected {
    // Style
    .link {
      margin-top: 7px;
      display: block;

      .filter & {
        margin-top: 0;
      }
    }

    .text {
      line-height: 59px;
      padding: 0 20px;

      .filter & {
        line-height: 60px;
      }
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
  }

  &__options {
    // Style
    position: relative;
    width: 100%;
    z-index: 2;

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
  }

  &__list {
    // Style
    display: none;
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    list-style: none;
    background: #fff none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
    z-index: 1;
    padding: 0;
    margin: -1px 0 0 -40px;

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
  }

  &__item {
    // Style

    .text {
      display: block;
      padding: 0 20px;
      line-height: 60px;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        box-shadow: 0 8px 8.82px 0.18px rgba(4, 4, 5, 0.13);
      }
    }

    // Media Queries
    @media screen and (min-width: 1000px) {
    }

    // Modifiers
  }

  // Modifiers
}
