// @import "../vendors/glide.core.scss";
// @import "../vendors/glide.theme.scss";

.slider {
  // Style
  transition: all ease 300ms;
  //   Media Queries
  @media screen and (min-width: 1000px) {
  }
  // Elements
  &__slide {
    // Style
    width: 736px;
    height: 100%;
    position: relative;
    // left: 6%;
    transform: translate(72%, 16%);
    z-index: 1;
    transition: all ease 300ms;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .slider__header {
      display: none;
    }

    .image-container {
      width: 100%;
      height: 100%;
      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 47.07%;
      }

      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    }

    //   Media Queries
    @media screen and (min-width: 1000px) {
        // width: 956px;
        // min-width: 956px;

        &.slick-current {
          width: 956px;
          z-index: 2;
          transition: all ease 300ms;
          transform: translate(0, 0);

          &::before {
            z-index: -1;
          }

          .slider__header {
            display: block;
          }

          + .slider__slide {
                transform: translate(-72%, 16%);
          }
        }
    }
    // Modifiers
    &--active {
    }
  }

  .slick-btn {
    position: absolute;
    top: 50%;
    z-index: 3;
    .icon {
      height: 39px;
      width: 22px;
    }

    &.slick-prev {
      left: 10%;
    }

    &.slick-next {
      right: 10%;
    }
  }
  // Modifiers
}
