@import "../vendors/glide.core.scss";
@import "../vendors/glide.theme.scss";

.slider {
  // Style
  //   Media Queries
  @media screen and (min-width: 1000px) {
  }
  // Elements
  &__slide {
    // Style
    transition: all ease 0.3s;
    // transform: scale(0.7);
    .slider__header {
      display: none;
    }
    &.prev {
      //   transform: scale(1);
    }
    &.next {
      //   transform: scale(1);
    }
    //   Media Queries
    @media screen and (min-width: 1000px) {
      //   width: 956px;
      //   min-width: 956px;
    }
    // Modifiers
    &--active {
      transform: scale(1);
      .slider__header {
        display: block;
      }
      .slider__header.animated {
        animation-duration: 0.5s;
      }
    }
  }
  // Modifiers
}

// .slider__slide .image-container {
//   transform: scale(0.7);
//   transition: all ease 0.6s;
// }
// .slick-center .image-container {
//   transform: scale(1);
// }

// .slick-active:first-of-type .image-container {
//   float: right;
// }

// .slick-active:last-of-type .image-container {
//   float: left;
// }
